/* * {
  padding-left: 30px;
  padding-right: 30px;
} */

.App {
  min-height: 100vh;
 background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  color:rgb(12, 176, 182);
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: #ffff;
  margin-left:10px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

