.recipe {
    border-radius: 10px;
box-shadow: 0px 5px 20px rgb(71, 71, 71);
margin: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
align-items: center;
min-width: 40px;
color: white;
/* font-family:"unprecedented Times"; */
}

.recipe_title {
    color:rgb(146, 24, 85);
}

.image {
    border-radius: 50px;
    width: 300px;
    height: 300px;
}